[2014-11-24 12:26] dontcallmedom opened #1 "Deal with previous version link?"
I assume most spec generators (and at least ReSpec) will want to set the previous link at the time where the document is generated; now that could be set in the document's configuration, but that requires updating it each time a publication occurs, which is not ideal.

Could we instead provide that parameter automagically to the various generators, by reading data from a machine readable version o

[2015-02-03 15:58] darobin commented on #1
I believe this is now addressed!

[2015-02-03 17:29] dontcallmedom opened #2 "respec generator fails on bogus timeout"
(patch coming)

Generating http://localhost/~dom/wake-lock/index.html?specStatus=WD

http.js:691
    throw new Error('Can\'t set headers after they are sent.');
          ^
Error: Can't set headers after they are sent.
    at ServerResponse.OutgoingMessage.setHeader (http.js:691:11)
    at ServerResponse.header (/home/dom/github.com/spec-generator/node_modules/express/lib/response.js:666:10)
    a

[2015-02-03 17:34] dontcallmedom commented on #1
(for reference, the "addressed"  above is alluding to 9555c9692d3f3318bf2da9fd79cdb5b0f38bf18c )

[2015-02-03 17:35] dontcallmedom commented on #1
I'm not sure it addresses the issue — I think the responsibility of determining what prevMaturity and prevPublishDate are falls upon us (by parsing tr.rdf or maybe specrefs if we trust it enough for that)

[2015-02-03 22:26] darobin commented on #1
Hmmmm. That can be done, but it somehow feels like it is breaking modularity. Do we expect the generator to be only used by Echidna? In that case I guess it doesn't matter. But if it is more open I would expect the caller to specify parts it wants to enforce/override and the generator to be as dumb as possible.

(Note: I would *definitely* want to trust specref on this, if only so I don't need to

[2015-02-04 07:53] dontcallmedom commented on #1
Here is my thinking:
* we know we need the data
* we can't use this with Echidna without it
* it seems extremely unlikely Echidna could be made to send the data (at least in the short term)

So I think it's probably best to implement it in there, maybe as a temporary measure while we figure a better modularity.

Another option would be to add a parameter to respec to have it automagically set the

[2015-02-04 09:44] darobin commented on #1
Ok, I hear your thinking. More than any other consideration I think that "it seems extremely unlikely Echidna could be made to send the data (at least in the short term)" is the most convincing one. Even if it were the worst architectural decision ever, the damn thing as a whole still needs to work :)

My reluctance to parse `tr.rdf` is largely due to the fact that I have very little bandwidth to

[2015-02-04 10:14] dontcallmedom commented on #1
specref doesn't manage the version history: it has some versions of some specs when required by specific usage, but it doesn't try to collect spec history in general.

(note that @deniak tells me that the official mapping of tr.rdf in JSON is in progress, but I don't think we can wait for it in our timeline)

I'll take a stab at it.

[2015-02-04 10:49] darobin commented on #1
Right, so specref does not currently expose the information — but it has it! The information is there precisely so that dated references can work. Exposing an option in its HTTP API so that it would return the full history for a spec would not be a huge amount of work. I think it might be the simplest thing in this case; I mean it has already solved the problem of converting the data in the first

[2015-02-04 10:52] dontcallmedom commented on #1
indeed, specref has https://github.com/tobie/specref/blob/master/scripts/rdf.js

I think I might shamelessly steal it for now; we'll DRY it later.

[2015-02-04 15:45] #2 closed

[2015-02-04 15:46] dontcallmedom commented on #1
I think we're good for that issue now with https://github.com/w3c/spec-generator/pull/4

[2015-02-04 15:46] #1 closed

[2015-03-19 20:17] plehegar opened #5 "Bad Gateway?"
https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/manifest/?specStatus=WD;shortName=network-error-logging

works and returns a generated document, but

 https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/manifest/?specStatus=WD;shortName=appmanifest

... doesn't work and returns a Bad Gateway.

The second is the one that should work since it's using t

[2015-03-19 22:08] darobin commented on #5
On 19/03/2015 21:17 , Philippe Le Hegaret wrote:

I can't find the string "appmanifest" appearing anywhere in
http://www.w3.org/2002/01/tr-automation/tr.rdf. That's likely to be the
source of the problem: the spec-generator can't find the previous version.

--
Robin Berjon - http://berjon.com/ - @robinberjon

[2015-03-19 23:59] plehegar commented on #5
Here is a fix in https://github.com/w3c/spec-generator/pull/6
And yes, appmanifest disappeared from tr.rf

[2015-03-20 00:00] plehegar commented on #5
@tripu This should fix the problem encountered on Wednesday (well, tr.rdf will need to be fixed as well now)

[2015-03-20 04:16] tripu commented on #5
Thanks, @plehegar. I'll let @darobin or @dontcallmedom merge your fix. We will update the instance of spec-generator in labs.w3.org together with the other tools next time.

[2015-03-20 07:54] deniak opened #7 "Wrong previous version if the document has been published the same day"
If a document has already been published and you run spec-generator the same day, the previous version is wrong because it's relying on `tr.rdf` which was updated during the last publication.

If the publication date and the date in `tr.rdf` are the same, spec-generator should take `rdf:obsoletes` as previous version.

[2015-03-20 10:11] darobin commented on #5
The metadata extraction part is @dontcallmedom's code, I defer to him on this. A quick look LGTM.

[2015-03-20 10:23] plehegar commented on #7
See https://github.com/w3c/spec-generator/pull/6

[2015-03-20 10:30] plehegar commented on #5
@tripu once merged, it would be good to deploy it sooner rather than later otherwise we'll keep messing tr.rdf ...

[2015-03-20 10:33] darobin commented on #5
Speaking of deployment, have there been discussions of continuous deployment?

[2015-03-20 11:01] plehegar commented on #7
#6 merged

[2015-03-20 11:01] #7 closed

[2015-03-20 11:03] plehegar commented on #5
no continuous deployment yet but a 2/3 weeks release cycle. Critical bug fix get deployed sooner.

[2015-03-20 12:57] #5 closed

[2015-03-20 14:27] plehegar commented on #5
@tripu, the fix has been deployed. No more action needed.

[2015-03-20 21:19] astorije opened #8 "Provide a module interface"
We recently discussed with @darobin about this. Rather than calling the generator with an HTTP request, it could be a lib to call directly from the code.

[2015-04-24 13:15] plehegar opened #9 "previous version link is incorrect?"
1. https://lists.w3.org/Archives/Public/public-tr-notifications/2015Apr/0025.html
2. https://lists.w3.org/Archives/Public/public-tr-notifications/2015Apr/0026.html
3. https://lists.w3.org/Archives/Public/public-tr-notifications/2015Apr/0032.html (next day)

1 & 3 succeeded, but 2 failed, despite no change in the document. Looks like the previous version chosen for 2 was the one from the same day..

[2015-04-28 17:35] plehegar commented on #9
This is a specberus bug, not a spec-generator one:
 https://github.com/w3c/specberus/issues/190

[2015-04-28 17:35] #9 closed

[2015-08-04 07:52] sideshowbarker opened #11 "Response delay of ~20+ seconds is way too long"
When generating the WebDriver spec from https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/webdriver/webdriver-spec.html?specStatus=WD;shortName=webdriver the spec generator just hangs for ~20 seconds or more before starting to send any HTTP response. This makes me angry. It also means that if you feed that URL to the validator to check it, the validator also has to sit ther

[2015-08-04 15:02] tripu commented on #11
@sideshowbarker, I merged @deniak's PR :)

One question, out of curiosity.
I understand 20&Prime; is probably way too much, in all cases.
But, where do the other limits (15&Prime;, 3&Prime;) come from? And, wouldn't those prevent some legit developers from using the checkers, specially from developing countries or remote regions (users whose web sites are sitting in slow, shared machines, served b

[2015-08-04 16:01] darobin commented on #11
IIRC browsers time out at 300s; but it's true that 20s is already a looooong time to wait.

Part of the problem is that we *could* send some headers early, but that would obfuscate errors that can happen late in the process.

I wonder: can we return 100 response codes while processing is ongoing or will that break things?

[2015-08-05 02:23] sideshowbarker commented on #11
The 15-second one is that I set it at the last time I got a report from somebody running a badly-configured site and I caved and upped the timeout (I think in between I’d had it at 10 for a while).

I think the 3-second setting may have come from the markup validator and css validator use. Regardless, that’s in the same range as what the defaults for the HTML checker (validator.nu) are, which is 5

[2015-08-05 08:01] tripu commented on #11
@sideshowbarker: OK; I guess this is a non-issue, then.

I wondered what a reasonable timeout looks like to someone at the end of a really bad link. But if you are not aware of a significant number of users with that problem (or the ones you have seen are simply suffering the consequences of their own bad engineering), then I agree there are no good reasons to allow longer sessions.

(Assigning th

[2015-08-05 09:07] sideshowbarker commented on #11
Yeah, this is way faster now that the change from #12 is deployed. It’s currently ~8 seconds, which seems pretty good to me.

[2015-08-05 09:07] #11 closed

[2015-08-05 09:19] sideshowbarker opened #13 "Experiment with switching the backend to use jsdom"
See https://github.com/w3c/spec-generator/pull/12#issuecomment-127658034

When there’s time to try it, switching to using `jsdom` would be worth trying experimentally.

[2015-08-05 10:05] darobin commented on #13
I reckon this might be more of a ReSpec bug TBH :)

[2015-09-01 12:05] deniak opened #15 "Get data from W3C API"
W3C now provides a [Web API](http://w3c.github.io/w3c-api/) that will make it easier to retrieve data. We should use it where it's needed.

[2015-10-01 09:54] tripu opened #17 "[Reminder] Migrate to Node.js 4.x"

[2015-10-12 13:32] #17 closed

[2015-12-04 23:32] plehegar opened #21 "Prevent www.w3.org/scripts/ from being triggered"
eg. http://webaudio.github.io/web-audio-api/
don't allow MathJax from running otherwise it will generate extra markup that shouldn't be replaced.

[2015-12-06 13:48] tripu commented on #21
Thanks for filing this one, @plehegar.
Just a comment: scripts should be enabled/disabled individually, not necessarily depending on whether they're loaded from w3.org or from some other place, yes?

[2015-12-07 15:51] plehegar commented on #21
correct.
here we want to disable in the spec-generator any script in www.w3.org/scripts/. Those should be left as-is in the generated document, without them touching the doc in the spec-generator.

[2015-12-08 04:37] deniak opened #22 "respec generator: use 'child_process.spawn' insteand of 'child_process.execFile'"
If the spec being processed is large enough, it will break the spec generator because of the `maxBuffer` size. Using `spawn` instead of `execFile` should solve the problem.

[2015-12-09 13:28] #22 closed

[2015-12-22 03:48] #21 closed

[2016-03-21 12:43] tripu opened #26 "spec-generator, ReSpec, PhantomJS stuck with HTML 5.1 ED"
Trying to understand what is failing here (it might be an issue with spec-generator, with ReSpec, with PhantomJS, or an error of interpretation on my part):

* Locally, I have set [the timeout for ReSpec generation](https://github.com/w3c/spec-generator/blob/master/generators/respec.js#L25) to a very long time.
* I have then launched the server,
* and tried to generate the WD for [the latest ED of

[2016-03-21 14:13] marcoscaceres commented on #26
Stupid question (maybe), but are you sure ReSpec is linked in the doc? I'm on my phone, so can't check... But the HTML was not originally written using ReSpec, hence my question.

If this has changed (I thought WHATWG was using BikeShed now), then we should talk.

[2016-03-22 04:43] tripu commented on #26
@marcoscaceres, you're right. It's a silly mistake: the HTML spec is built with Bikeshed.

[2016-03-22 05:24] marcoscaceres commented on #26
BTW, I'm working on a new respec2html.js version... it uses Nightmare.js, which uses Chromium instead of the really **really really outdated** WebKit. It's also view-able, and had a built-in debugger (it's just Chrome)... so it's easier to see what is going on and failing. Hope to publish soon.

[2016-03-22 05:56] tripu commented on #26
Great, @marcoscaceres!

[2016-04-18 13:05] #26 closed

[2016-04-18 14:31] tripu opened #27 "Spec-generator times out when given a different kind of document"
eg, [when given `https://rawgit.com/w3c/browser-payment-api/fpwd/fpwd/paymentrequest.html`](https://labs.w3.org/spec-generator/?type=respec&url=https://rawgit.com/w3c/browser-payment-api/fpwd/fpwd/paymentrequest.html) (which is a valid spec already, nothing to _generate_ there), the answer is

[code]

That message is misleading. Can we detect this scenario and tell the user something more meaningf

[2016-04-21 07:55] deniak commented on #27
The problem comes from `respec2html` and not the spec-generator itself. From what I understand, @marcoscaceres fixed the timeout issue in the latest versions of respec. However, I think the recent updates to respec break spec-generator. We will need to update it.

[2016-04-21 12:25] tripu commented on #27
In which ways would the latest respec be incompatible with spec-generator, @deniak @marcoscaceres?

I just `npm update`d spec-generator here, it picked up respec `3.2.116`, and seems to run OK locally. (But it's a very poor test, admittedly.)

On the other hand, [`http://localhost:3000/?url=https://rawgit.com/w3c/browser-payment-api/fpwd/fpwd/paymentrequest.html&type=respec`](http://localhost:3000

[2016-04-21 12:34] marcoscaceres commented on #27
@tripu, let me ship new ReSpec. It uses Electron instead of Phantomjs ... it may make things worst or not. Hopefully not 💃

[2016-04-21 12:39] marcoscaceres commented on #27
Ok, shipped 3.2.118

[2016-04-21 12:50] deniak commented on #27
@marcoscaceres what's the requirement about the node.js version? It's working fine with node 5.10.1 but I see some errors when using node 4.4.3

[2016-04-21 12:52] marcoscaceres commented on #27
Yeah, you need 5.10... I also jumped the shark a bit... still publishing .. npm is being slow to accept the new version :(

[2016-04-21 12:56] tripu commented on #27
Yeah, I saw the tag wasn't on npm yet, so I edited `package.json` to have `git://github.com/w3c/respec.git#v3.2.118` as the version.

Still timing out for the non-document (Node `v.4.4.3`).

[2016-04-21 13:02] marcoscaceres commented on #27
@tripu, is it possible to use on a newer version of Node?

[2016-04-21 13:08] marcoscaceres commented on #27
@tripu, btw, that URL (https://rawgit.com/w3c/browser-payment-api/fpwd/fpwd/paymentrequest.html) is a generated file, it's no a respec document. Which is probably why it's timing out.

[2016-04-21 13:13] marcoscaceres commented on #27
Yeah, that seems to be the problem. You want this one:
https://rawgit.com/w3c/browser-payment-api/fpwd/specs/paymentrequest.html

[2016-04-21 13:14] tripu commented on #27
If you mean if we could deploy Node.js `5.x` in production, I think the answer is yes.
I think we're sticking to the `4.x` series purely because it's the LTS one, to be more conservative in production. There might be limitations to switch to `5`, but I don't know any off the top of my head.

That's precisely the bug I'm reporting: if it's not a ReSpec document, instead of timing out, tell the user

[2016-04-21 13:16] marcoscaceres commented on #27
@tripu I would never expect such sillyness from you! Only from myself. And fantastic idea. I will add that.

[2016-08-24 01:53] sideshowbarker commented on #13
Closing this as stale. If anybody else prefers to keep it open of course feel free to re-open it.

[2016-08-24 01:53] #13 closed

[2016-09-19 14:56] tripu opened #30 "Return feedback earlier (useful to debug timeouts)"
I'm not very familiar with spec-generator, but I hope this makes sense:

When [our instance of spec-generator](https://labs.w3.org/spec-generator/) crashes, or times out (sometimes due to memory issues), users are left with no information about the error.

Would it be possible to return _some_ information straight away, and keep on writing a &ldquo;log&rdquo; while possible, until it crashes or ti

[2016-09-20 00:55] marcoscaceres commented on #30
@tripu, I'm on it.

[2016-09-20 04:44] marcoscaceres commented on #30
Ok, covered generic cases with stack throw, and caught the actual error with that spec (their markup was invalid!):

![screenshot 2016-09-20 14 40 37](https://cloud.githubusercontent.com/assets/870154/18657757/90da1654-7f40-11e6-8e76-6a6a9a46df16.png)

Waiting for PR to be reviewed. Will release in the next day or so.

[2016-09-20 12:48] tripu commented on #30
Brilliant, @marcoscaceres, thanks!

(Yes, we found the issue with that particular spec already.)

[2016-09-20 22:08] marcoscaceres commented on #30
Ok, just merged. Will release in a little bit 🍾

If you spot other regular issues the you think ReSpec could better help users with, please bubble them up to Shane and I.

[2016-09-22 13:29] tripu commented on #30
Roger that :)

[2017-07-06 02:20] marcoscaceres commented on #27
I implemented this a while a go, but forgot to report back:
https://github.com/w3c/respec/blob/develop/tools/respecDocWriter.js#L99

You can probably close this?

[2017-07-11 15:52] #27 closed

[2017-07-20 19:04] nschonni opened #35 "Getting 500 (curl exit 22) errors on Travis CI"
Seems like alot of builds have started to fail when they are cUrling from the spec generator.

[code]
Running on the local machine returns OK, running in the browser also returns OK.
Is there a user-agent filtering that was turned on recently?

Related https://github.com/w3c/aria-practices/issues/430

[2017-07-21 05:33] marcoscaceres commented on #35
Odd... I wonder if ReSpec is up to date on the server? I see the package says 15.0.0, but we are now up to 15.5.0

[2017-07-21 05:48] nschonni commented on #35
Not really a solution, but adding a 3*retry seemed to "fix" it. It seems to consistently fail the first attempt, but succeed the second time.

[2017-07-21 07:30] deniak commented on #35
I've updated respec on the server and it seems to work better now.

[2017-07-21 07:34] marcoscaceres commented on #35
woot!

[2017-07-21 15:07] #35 closed

[2017-07-31 23:15] nschonni opened #36 "Publish to NPM?"
Since sometimes things can timeout #35, would it make sense to publish this as an NPM package so the generation can run on local CI files?

Related to #430

[2017-08-01 09:58] deniak commented on #36
Unfortunately publishing spec-generator on npm won't help since the timeout issues were related to an outdated version of respec on the server. When a new version is released, we need to make sure it's also deployed with spec-generator. I'll configure greenkeeper.io so we'll get a new PR after each release of the dependencies.

[2017-08-01 09:58] #36 closed

[2017-08-02 04:15] marcoscaceres commented on #36
@deniak, can you also configure ReSpec to behave the same? I don't have access to rights to greenskeeper (because it's linked to the W3C Org). Or do I need to change ReSpec's package file instead to stop using "^"?

[2017-08-02 04:35] nschonni commented on #36
thanks @marcoscaceres!
I'm not sure it's possible to do a good isolated version of this or not. The problem i'm trying to solve is that the aria-practices repo can only rebuild it draft gh-pages after the page is published, rather than locally as part of the commit.

[2017-08-02 04:51] marcoscaceres commented on #36
Yeah, that's a bit more involved. I don't recommend you do that per commit. If you want a preview of the spec, then just add this file to your repo:

https://github.com/w3c/payment-request/blob/gh-pages/.pr-preview.json

That will generate a link to a preview when you do a pull request. For example:
https://github.com/w3c/payment-request/pull/541

(see the diff | preview links)

[2017-08-02 04:55] nschonni commented on #36
Thanks for the hint!
@michael-n-cooper have you thought of this method already?

[2017-08-02 06:11] deniak commented on #36
@marcoscaceres, greenkeeper is already enabled for the respec repository. My [PR](https://github.com/w3c/spec-generator/pull/37) only updates the versions syntax in packages.json so greenkeeper detects a minor version change.

[2017-08-02 06:14] marcoscaceres commented on #36
Ok, cool. Will try the same in ReSpec's package. Just wanted to confirm.

[2017-10-31 17:38] tripu opened #55 "Propagate all errors originating in Respec"
While debugging something for @vivienlacourba in `https://labs.w3.org/spec-generator/`, we noticed that the error from spec-generator on the browser was simply

    "error": "colors.info is not a function"

, while the Node.js logs on the server showed other issues:

    😱 ReSpec error: Document on track but no previous version: Add `previousMaturity`, and `previousPublishDate` to ReSpec's config.

[2017-11-01 05:56] marcoscaceres commented on #55
Sure, it's totally possible. I can either direct the output to into a provided stream, collect errors/warnings into an array, or just send back text.

I'll investigate the "colors.info" error. That looks like a bug.

[2017-11-05 06:24] marcoscaceres commented on #55
Fixed the  "colors.info" bug. Let me know what you prefer from here.

[2017-11-16 07:46] tripu commented on #30
I think we can now close this one, right, @marcoscaceres?

[2017-11-16 10:43] tripu commented on #55
Thanks, @marcoscaceres.

[2017-11-16 10:50] tripu commented on #55
Looking at the code of both Respec and spec-generator, I think it will be enough if `fetchAndWrite()` returned *all* errors and warnings it found while processing the document (instead of just the HTTP error code it gets from Nightmare, as it does now). In other words, [the error `msg` thrown](https://github.com/w3c/respec/blob/develop/tools/respecDocWriter.js#L83-L88) would include all warnings a

[2017-11-16 10:53] marcoscaceres commented on #30
Yep 👍 close it.

[2017-11-16 10:57] marcoscaceres commented on #55
Sounds good. I’ll poke around a bit to see how to best structure all the errors.

[2017-11-17 08:33] #30 closed

[2017-11-22 06:21] deniak opened #57 "Parameters aren't correctly parsed"
https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/wpub/?specStatus=FPWD;includePermalinks=false&publishDate=2017-12-05

https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/wpub/?specStatus=FPWD&publishDate=2017-12-05&includePermalinks=false

The 2 urls above don't give the same results. Also, `&publishDate` does create a snapshot with the date passed i

[2018-09-06 19:38] marcoscaceres opened #123 "GitHub API key not set correctly on TravisCI"
Seems the URL for pinging GitHub is still getting mangled on TravisCI: the “=“s are getting URL encoded which is causing occasional “API limit reached” failures.

[2018-11-14 09:40] tripu opened #138 "Serve a simple form to submit a URL"
Minimal example:

[code]

[2019-03-05 10:05] deniak opened #170 "QS parameters aren't parsed correctly"
@marcoscaceres spec-generator fails at generating the right "This version" url when passing the shortName parameter, e.g. [screen-orientation](https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/screen-orientation/index.html?specStatus=WD;shortName=screen-orientation).
It seems to work well if you remove `;shortName=screen-orientation` from the url but it used to work in the

[2019-03-05 12:08] marcoscaceres commented on #170
Oh, could you please try “&” instead of “;”?

[2019-03-05 12:19] deniak commented on #170
Yeah, it's working better. Is it related to a change with respec?

[2019-03-05 12:25] marcoscaceres commented on #170
Yes, sorry. We made that change a while ago. We were supporting the old “;” delimiter but we stopped at some point. I’m on my phone so can’t look up the exact commit history, but happy to find when we changed that if you’d like.

[2019-03-05 12:50] deniak commented on #170
@marcoscaceres thanks for checking

[2019-03-05 12:50] #170 closed

[2019-03-05 12:55] deniak commented on #170
@plehegar I've updated the echidna wiki but all the manifests using ';' will have to be updated. I'll try to submit PRs in the next couple of days for the repos I've identified.

[2019-03-05 13:58] plehegar commented on #170
@deniak , thank you.

[2019-03-05 14:01] marcoscaceres commented on #170
If it’s looking like it’s going to be a ton of work, let me know and I can see about reverting back to the legacy “;”. I’d prefer not to, because we have newer APIs like URLSearchParam that we rely on for this, but if we broke too much stuff...

[2019-03-05 14:09] deniak commented on #170
@marcoscaceres it should be fine. It's a quick fix when you know what's the problem.

[2019-03-05 14:13] marcoscaceres commented on #170
/me takes a look in the mirror 👀 😅😇

[2019-03-05 14:18] deniak commented on #170
sorry, my comment was confusing. I meant it's easy to fix the manifests for these repositories so don't revert your changes in respec just for that.

[2019-03-05 14:20] marcoscaceres commented on #170
No, it was clear. I’m just making silly jokes because I broke things 🙂

[2019-04-11 09:46] marcoscaceres commented on #57
ReSpec prefers "&".

[2019-04-11 09:46] #57 closed

[2019-04-18 22:48] jnurthen commented on #35
I'm getting these same errors in the ARIA repository. Even with the retry -3 it fails.
When I run
`https://labs.w3.org/spec-generator/?type=respec&url=https://raw.githack.com/w3c/aria/master/index.html`
I get
`"Navigation Timeout Exceeded: 20000ms exceeded"`

Running spec-generator locally completes correctly.

[2019-04-18 22:50] jnurthen opened #205 "Getting 500 (curl exit 22) errors on Travis CI"
I'm getting these same errors in the ARIA repository. Even with the retry -3 it fails.
When I run
https://labs.w3.org/spec-generator/?type=respec&url=https://raw.githack.com/w3c/aria/master/index.html
I get
"Navigation Timeout Exceeded: 20000ms exceeded"

Running spec-generator locally completes correctly.

Same as #35 but workaround doesn't seem to work any more.

[2019-04-19 08:29] deniak commented on #35
@jnurthen does it work better now?

[2019-04-19 08:37] marcoscaceres commented on #35
Works now 👍

[2019-04-19 15:48] jnurthen commented on #35
Yes - works now. Thanks.

[2019-04-19 15:48] #205 closed

[2019-05-02 02:51] marcoscaceres commented on #55
All errors are gathered now by ReSpec, so closing.

[2019-05-02 02:51] #55 closed

[2019-05-09 13:55] marcoscaceres opened #214 "More rapid deployment of fixes?"
Was talking to @tobie on twitter and it seems that he sometimes hits problems with ReSpec specs being generated by PR preview... my suspicion is that it's because the generated specs are expecting a newer version than the one that is deployed on the W3C servers.

Is there some means we can the spec-generator on the w3c servers updated on a faster cadence?

[2019-06-27 12:46] deniak opened #232 "Manifest under http breaks links"
https://labs.w3.org/spec-generator/?type=respec&url=http://w3c.github.io/screen-orientation/index.html?specStatus=WD&shortName=screen-orientation#type-attribute-get-current-orientation
and
https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/screen-orientation/index.html?specStatus=WD&shortName=screen-orientation#type-attribute-get-current-orientation
don't produce the same re

[2019-06-27 13:31] marcoscaceres commented on #232
I wonder if it's some kind of weird mixed content thing... maybe we should ban `http` for the service? there really shouldn't be any reason to be using it nowadays.

[2020-03-06 03:43] sideshowbarker opened #284 "500 error "Navigation timeout of 30000 ms exceeded""
[code]

This currently seems to be happening regardless of what spec URL I give to the generator.

[2020-03-06 05:04] marcoscaceres commented on #284
odd... maybe the spec generator's respec is out of date?

[2020-03-13 18:47] jnurthen commented on #284
Can someone look at this - all our specs are broken.

[2020-03-13 19:02] carmacleod commented on #284
[Timeout was changed from 2 seconds to 3 seconds a year ago](https://github.com/w3c/spec-generator/commit/685b0cdbcf793bf014fdcca4932d4c2e15bbb2d6)... maybe it needs to be bumped up to 4 seconds? (I have no clue - just making wild guesses... 😄 )

[2020-03-16 06:00] marcoscaceres commented on #284
Poked around a little bit. The reason is failing is that the `data-include=`s are breaking for some reason. We will need to do some debugging to figure out why. The quick fix is to make the `data-include`s into absolute URLs... so, for example:

[code]

CC @sidvishnoi.

[2020-03-16 06:18] sideshowbarker commented on #284
If I `git clone https://github.com/w3c/spec-generator.git; cd spec-generator; npm run start` it runs for me locally as expected, without the *“Navigation timeout of 30000 ms exceeded”*.

I’m curious why it would run as expected locally, even though the remote instance fails.

[2020-03-16 10:34] sidvishnoi commented on #284
I tried locally, as well as using https://labs.w3.org/spec-generator. Worked fine for me.
I've seen this error in past due to the network conditions - at the client side, as well as at w3.org - which hosts the ReSpec script. (and I was able to simulate this with a slow network.)
Can anyone confirm if the issue still persists? I'll investigate further.

[2020-03-16 10:57] sideshowbarker commented on #284
I can’t reproduce it now

OK, yeah, then I guess what’s most likely is that there was some problem with the network conditions on the w3.org side — rather than on the client side for anybody individually (because if it were client-side network issue, it seems we wouldn’t have multiple people running into the problem at the same time).

[2020-03-16 11:45] marcoscaceres commented on #284
Yeah, same... can't reproduce.

[2020-03-16 11:46] marcoscaceres commented on #284
Ignore what I said above (https://github.com/w3c/spec-generator/issues/284#issuecomment-599359533) also. That only really helps with respec2html locally, but works fine.

[2020-03-16 12:43] deniak commented on #284
Sorry, I missed that issue earlier. I redeployed spec-generator with the latest version of respec. It seems to work fine now. @sideshowbarker can you confirm?

[2020-03-16 12:44] marcoscaceres commented on #284
Not @sideshowbarker, but WFM with curl.

[2020-03-16 13:04] sideshowbarker commented on #284
Yup — working as expected for me too

[2020-03-16 13:08] deniak commented on #284
Ok, thanks for the confirmations. I'll close this ticket for now then.

[2020-03-16 13:08] #284 closed

[2020-03-30 22:35] jnurthen opened #289 "{"error":"Navigation timeout of 30000 ms exceeded"}"
curl -i "https://labs.w3.org/spec-generator/?type=respec&url=https://raw.githack.com/w3c/aria/removeDefer/index.html"
HTTP/2 500
x-powered-by: Express
content-type: application/json; charset=utf-8
content-length: 51
etag: W/"33-B9tscI3tM+SOKGsBsSIaNUqebh8"
date: Mon, 30 Mar 2020 22:34:09 GMT
strict-transport-security: max-age=15552015; preload
public-key-pins: pin-sha256="cN0QSpPIkuwpT6iP2YjEo1bEw

[2020-03-31 06:57] marcoscaceres commented on #289
There seems to be an error in the spec itself:
https://raw.githack.com/w3c/aria/removeDefer/index.html

[code]

[2020-03-31 18:17] jnurthen commented on #289
Fixed the errors - I still can't get it to run through spec-generator on labs.

This works fine on local.

[2020-04-01 18:08] deniak commented on #289
The process was stuck on the server. I restarted it and it should now work better.

[2020-04-01 18:08] #289 closed

[2020-04-14 20:27] jnurthen opened #292 "{"error":"Navigation timeout of 30000 ms exceeded"}"
again

Example URLs that fail
https://labs.w3.org/spec-generator/?type=respec&url=https://raw.githack.com/w3c/aria/removeDefer/index.html

https://labs.w3.org/spec-generator/?type=respec&url=https://rawcdn.githack.com/w3c/aria-practices/c74e8e46b38c7df5f4c1079f8d3dedf5373af1ab/aria-practices.html&isPreview=true

[2020-04-15 03:11] jnurthen commented on #292
@deniak @marcoscaceres this seems to be happening frequently. Is there anything that can be done to have a way to restart the server if jobs keep on failing?

[2020-04-15 04:56] marcoscaceres commented on #292
I guess we need to figure out what the root cause is that is causing it to stall on the server. There is a regression somewhere or some dependency is locking things up.

@deniak, any output on the server for you?

[2020-04-15 05:18] deniak commented on #292
Looking at the logs below, it seems the second spec is missing the respecConfig.
However, for the first one, I don't see any errors in the logs. I did restart spec-generator and it's working again.
Memory on the server looks fine but I do see some remaining chrome processes still running so I suspect they aren't properly killed when there's an error. I'll try to debug more later today.

[code]

[2020-04-15 05:20] marcoscaceres commented on #292
cc'ing @sidvishnoi., who can look at respec2html to see if anything in the generator might need more robust exit strategy to kill the process.

[2020-04-15 05:54] marcoscaceres commented on #292
@jnurthen, sent a PR to fix the reference errors:
https://github.com/w3c/aria-practices/pull/1376

[2020-04-15 13:53] deniak commented on #292
I looked a bit and it seems the process gets stuck on the [document generation](https://github.com/w3c/respec/blob/develop/tools/respecDocWriter.js#L93) and the browser never gets closed. This can be reproduced with the following command:
[code]

[2020-04-15 13:59] sidvishnoi commented on #292
Thanks for a reduced test case @deniak. I'll investigate this in a while.

[2020-04-16 12:58] sidvishnoi commented on #292
Released ReSpec v25.6.1 with a fix for stalling on unresolved promise.

[2020-04-16 13:48] marcoscaceres commented on #292
Legend! Hopefully it makes the W3C server happy.

[2020-04-16 13:54] deniak commented on #292
I just redeployed and I confirm the processes are correctly killed. Thanks @sidvishnoi !

[2020-04-16 13:54] #292 closed

[2020-04-16 14:58] jnurthen commented on #292
Thanks all.

[2020-04-21 13:54] deniak opened #295 "Switch greenkeeper.io to snyk"

[2020-05-13 10:49] greenkeeper[bot] opened #299 "An in-range update of snyk is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.320.2` to `1.320.3`.

🚨 [View failing branch](https://github.com/w3c/spec-generator/compare/master...w3c:

[2020-05-20 09:21] deniak opened #301 "Switch from whacko to jsdom"

[2020-05-26 05:56] jennyliang220 opened #305 "Some params in target url cannot be recognized when forget to encode"
## What breaks the tool
The url target url is: `https://w3c.github.io/screen-orientation/index.html?specStatus=WD&shortName=screen-orientation`

If we put the link behind url params, the [spec-generator link](https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/screen-orientation/index.html?specStatus=WD&shortName=screen-orientation) is: `https://labs.w3.org/spec-generator/?ty

[2020-05-26 06:50] deniak commented on #305
A form can be very handy indeed so +1 to add a form taking the url as parameter (there could be a 2nd param for the type but since we currently only support respec, it's not really useful).

Regarding the option B., there could actually be many more parameters that respec supports so we can simply pass a hardcoded property to respec.

[2020-05-28 14:41] michael-n-cooper opened #307 "documentation for post feature"
It was [announced[(https://lists.w3.org/Archives/Public/spec-prod/2020JanMar/0002.html) that the spec-generator now supports post, but the [documentation](https://github.com/w3c/respec/wiki/ReSpec-Editor's-Guide#creating-a-static-snapshot-from-the-command-line) was actually put into the respec documentation. I'd like to see the documentation in the spec-generator documentation, where I can find it

[2020-05-28 14:41] michael-n-cooper opened #308 "support post of tar"
For the new post feature, I would like the ability to upload a tar, in the way Echidna now supports. This is needed to be able to process additional files incorporated with the respec data-include feature, as well as to process auxiliary external scripts that work together with respec to tune formatting. I would be ok with the assumption that the Echidna tar feature supports, that the index.html f

[2020-05-29 07:25] #301 closed

[2020-07-30 11:17] deniak commented on #307
Sorry for the late reply. I only noticed that issue now. The documentation is now available in the wiki of this repository: https://github.com/w3c/spec-generator/wiki/Creating-a-Static-Snapshot-from-the-Command-Line

[2020-07-30 11:17] #307 closed

[2020-07-30 11:22] deniak commented on #308
@michael-n-cooper can you point me to a document that relies on these `data-*` attributes and external scripts? This will be helpful to test that feature

[2020-07-30 11:22] deniak commented on #299
we don't use snyk anymore

[2020-07-30 11:22] #299 closed

[2020-07-30 11:23] deniak commented on #295
We ended up switching to @dependabot

[2020-07-30 11:23] #295 closed

[2020-07-30 14:07] michael-n-cooper commented on #308
Sure. Most of my specs use respec data-include to some extent. The Web Content Accessibility Guidelines 2.2 uses them a lot, perhaps 100 include files. The index file is at https://github.com/w3c/wcag/blob/master/guidelines/index.html.

[2020-08-03 12:06] #308 closed

[2020-08-03 12:20] deniak commented on #308
@michael-n-cooper I just deployed the support for the tarball (see https://github.com/w3c/spec-generator/wiki/Creating-a-Static-Snapshot-from-the-Command-Line) Let me know if there's any issue.

[2020-10-15 20:33] michael-n-cooper opened #348 "spec generator fails on respecisready"
Spec generator returns an error trying to process an uploaded .tar. Attached zip contains the tar file being uploaded (guidelines.tar) and the result from the spec-generator (output.html). The command used was:

curl -F "file=@guidelines.tar" https://labs.w3.org/spec-generator/ > output.html.

[guidelines.zip](https://github.com/w3c/spec-generator/files/5387614/guidelines.zip)

[2020-10-21 12:43] deniak commented on #348
@sidvishnoi Do you know if that problem will be solved with the new version of respec?
It seems the line causing the issue is `<script>document.respecIsReady.then(() => {postRespec();});</script>`

[2020-10-21 12:44] deniak commented on #348
@michael-n-cooper I also notice the tar is missing the js `respec-config.js`. I'm guessing spec-generator will need that file to work properly.

[2020-10-21 13:28] sidvishnoi commented on #348
Confirming it's due to missing `respec-config.js`. I'll see if we can add better errors in this case in ReSpec side.

[2020-10-21 13:32] deniak commented on #348
Thanks for the confirmation. @michael-n-cooper could you resubmit the tar with the missing file?

[2020-10-21 17:47] #138 closed

[2020-10-22 19:57] sidvishnoi opened #357 "W3C hosted version fails if URL doesn't contain trailing slash"
https://labs.w3.org/spec-generator fails
https://labs.w3.org/spec-generator/ works

[2020-10-23 07:39] deniak commented on #357
This should now be fixed. Thanks for the report.

[2020-10-23 07:39] #357 closed

[2021-04-19 08:06] xfq opened #396 "Spec generator fails on large files"
The file size of https://w3c.github.io/jlreq/ is causing some issues with spec-generator.

https://labs.w3.org/spec-generator/?type=respec&url=https%3A%2F%2Fw3c.github.io%2Fjlreq%2Findex.html%3FspecStatus%3DWG-NOTE%26shortName%3Djlreq emits `{"error":"Navigation timeout of 29409 ms exceeded"}` for me.

[2021-04-23 05:56] deniak opened #401 "Prepare the code for node 16"

[2021-05-11 09:32] #401 closed

[2021-06-14 20:44] plehegar opened #435 "Move to GitHub actions"
We should stop using travis and use github action instead

[2021-06-17 00:14] marcoscaceres commented on #435
@jennyliang220, let me know if I can be of any help.

[2021-06-17 00:25] marcoscaceres commented on #396
I don't think it's a size issue... unless it's the images taking ages? Locally, it renders in 1 second.

In any case, we could boost the timeout time to 60s.

[2021-06-17 00:26] marcoscaceres commented on #396
checked the images... they are also ok. Total is about 1mb.

[2021-06-17 00:28] marcoscaceres commented on #396
@xfq, I see you optimized the images already! Good stuff!

The only thing I can think of is that specref is being slow. I've been having issues with it locally too... but I'm unsure.

[2021-06-24 11:38] #435 closed

[2021-11-08 02:44] jennyliang220 commented on #305
closed by https://github.com/w3c/spec-generator/pull/356

[2021-11-08 02:44] #305 closed

[2022-02-16 03:37] jyasskin opened #522 "Relax the prohibition on raw.githubusercontent to help fix PR-Preview"
PR Preview calls this spec-generator with https://raw.githack.com/ URLs apparently because of the prohibition at https://github.com/w3c/spec-generator/blob/22739011eb84ce5fa24ae0f2f26e323cedafda03/server.js#L177 on calling it with raw.githubusercontent URLs directly.

https://github.com/tobie/pr-preview/issues/112 tracks the fact that GitHack has gotten flaky. One way to fix that could be to cut o

[2022-04-20 05:36] xfq opened #537 "Spec generator produces garbled text"
In https://labs.w3.org/spec-generator/?type=respec&url=https%3A%2F%2Fraw.githubusercontent.com%2Fw3c%2Fclreq%2Fgh-pages%2Findex.html there's garbled text like � �. This affects the PR preview function (see https://github.com/w3c/clreq/pull/455 for example) and has a great impact on the group participants' daily work.

/cc @deniak

[2022-04-20 06:36] deniak commented on #537
I see it's a bug (https://github.com/website-scraper/node-website-scraper/issues/454) with the module we are using to scrap the spec. Unfortunately, this issue has been opened for a few months so we might need to find an alternative.

[2022-04-21 09:20] xfq commented on #537
What about something like [Scrapy](https://github.com/scrapy/scrapy) and [node-crawler](https://github.com/bda-research/node-crawler)?

[2022-04-21 10:43] deniak commented on #537
I'd rather stick to a node module if possible. I'll give node-crawler a try. Hopefully I can send a PR by tomorrow.

[2022-04-22 07:38] #537 closed

[2022-04-22 07:44] deniak commented on #537
It was actually surprisingly difficult to find a good module to download relative resources for an HTML document that's not served with the right content type. I ended up parsing the document myself and downloading all the href/src relative to the document. It should be good enough to generate the right snapshot!

[2022-04-23 05:48] xfq commented on #537
I confirm that All Goes Well now. Thank you!

[2022-05-25 04:48] marcoscaceres opened #546 "Spec generator returning 404 on uploaded files"
For example:
http://labs.w3.org/spec-generator/uploads/oCQ7pE

Which [Spec Preview](http://github.com/tobie/pr-preview) attempted to create. This is affecting all specs that use PR preview 😢

@deniak, see for example:
https://github.com/w3c/web-share/pull/234

[2022-05-25 19:45] miketaylr commented on #546
See also https://github.com/w3c/permissions/pull/380

[2022-05-30 06:08] #546 closed